body 
{
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(back.jpg);
   height:100vh;
   background-position:center;
   background-size:cover;
   background-repeat:no-repeat;
   
}
ul
{
  list-style-type:none;
  float:right;
  margin-top:25px;
  
}
ul li
{
  display:inline;
  font-size:20px;
  padding:10px;
 
}
ul li a
{
   text-decoration:none;
   color:white;
   border:1px solid white;
   padding:10px 15px;
    transition:0.6s ease;
    
}
ul li a:hover
{
  color:black;
  background-color:white;
}
.logo 
{
  float:left;
  width:500px;
  height:80px;
  margin-left:30px;
  margin-top:0px;
  font-size:35px;
  color:white;
  position:absolute;
  top:1%;
  left:1%;
}
.mid 
{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   
}
.button
{
   position:absolute;
   top:60%;
   left:50%;
   transform:translate(-50%,-50%);
   
}
.btn
{
   color:white;
   text-decoration:none;
   font-size:20px;
   border:1px solid white;
   padding:10px 30px;
   transition:0.6s ease;
}
.btn:hover
{
   color:black;
  background-color:white;
}